body {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

h3 {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
}

h2 {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 36px;
    font-size: 35px;
    margin-bottom: 20px;
}

p {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    padding-left: 2%;
}

.position-relative {
    position: relative;
}

.no-decoration {
    text-decoration: none;
}

.main-bg-color {
    background-color: #273c75;
}

.active {
    background-color: #273c75;
}

.btn-bg-main {
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #3a61cc;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn-on-white {
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #3a61cc;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn-on-white:hover {
    background-color: #273c75c4;
    color: #ffffff;
}

.btn-bg-main:hover {
    background-color: #ffffff;
    color: #273c75;
}

.divider {
    height: 5px;
}

.btn-bg-white {
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    text-decoration: none;
    color: #3a61cc;
    font-size: 18px;
}

.btn-bg-white:hover {
    background-color: #3a61cc;
    color: #ffffff;
}

.main-color {
    color: #273c75;
    text-decoration: none;
}

.toolbar {
    background-color: #ffffff;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.toolbar i {
    font-size: 18px;
    margin-right: 5px;
    color: #000000;
}

.toolbar span {
    font-size: 16px;
    margin-right: 5px;
    color: #000000;
}

.toolbar ul li a {
    font-size: 16px;
    margin-left: -15px;
    margin-right: 5px;
    color: #000000;
}

.toolbar ul li a:hover {
    color: #132d74;
}

.toolbar img {
    max-width: 150px;
}

.toolbar-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
    font-size: 2.25rem;
}

.toolbar-logo:hover {
    text-decoration: none;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav a {
    text-decoration: none;
    font-size: 17px;
    color: #273c75;
    font-weight: 500;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}


/* overalay propreties */

.overlay {
    position: relative
}

.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    content: "";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.carousel-item.overlay::before {
    opacity: 0.55;
    background: #000;
}


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}

.carousel-btn {
    height: 50px;
    width: 50px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}


/* rtl:begin:ignore */

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* Start featured section CSS */

.icon-bg-color {
    background-color: #0d2e86;
}

.description {
    color: rgb(124, 124, 124);
}

.main-color a {
    color: #0d2e86;
    text-decoration: none;
}

.main-color a:hover {
    color: #3a61cc;
    text-decoration: none;
}

.read-more {
    width: auto;
    padding: 5px 10px 5px 10px;
    background-color: #0d2e86;
    text-decoration: none;
    color: white;
}

.read-more:hover {
    background-color: #3a61cc;
    color: white;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* stylelint-disable selector-list-comma-newline-after */

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

blockquote {
    position: relative;
    padding: 40px 40px 50px 30px;
    color: #666;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    clear: both;
    box-shadow: 0 0 20px #eee!important;
    border-left: 10px solid #222e85;
    z-index: 1;
    margin: 25px 0
}

blockquote h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333
}


/* Footer style */

.footer-about {
    width: 100%;
}

.footer-about a i {
    background-color: #273c75;
    padding: 10px;
    height: 70px;
    width: 70px;
    color: #ffffff;
    font-size: 22px;
    border-radius: 5px;
}

.footer-about a i:hover {
    transition: 0.6s;
    background-color: #273c7536;
    color: #273c75;
}

.footer-link ul li a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
}

.footer-link ul li a:hover {
    transition: 0.8s;
    color: #273c75;
    margin-left: 4px;
}

.footer-link ul li {
    margin-top: 10px;
}

.footer-contact {
    min-width: 100%;
}

.footer-contact ul li {
    margin-top: 10px;
}

.footer-contact ul li i {
    margin-top: 10px;
    font-size: 24px;
    font: 600;
    margin-right: 10px;
}

.footer-contact ul li a {
    color: #272727;
    text-decoration: none;
    pointer-events: none;
    font-size: 20px;
    font: 400;
}

.footer-bottum p {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.footer-bottum p a {
    text-decoration: none;
    color: #273c75;
}


/* Contact us page style */

.contact-info {
    min-width: 100%;
}

.contact-info ul li {
    margin-top: 20px;
}

.contact-info ul li i {
    margin-top: 10px;
    font-size: 30px;
    font: 600;
    margin-right: 10px;
    color: #273c75;
}

.contact-info ul li a {
    color: #272727;
    text-decoration: none;
    pointer-events: none;
    font-size: 22px;
    font: 400;
}


/* Form styling */