{% load static %}
<div class="row g-3">
    <div class="col-xxl-12 col-xl-12, col-lg-12 col-md-12 col-sm-12, col-12-xs-12">
        <div style="opacity: 0.75; padding: 20px;" class="card text-white main-bg-color mb-3" style="max-width: 18rem;">
            <div style="font-size: 22px; border-bottom: 1px dashed white;" class="card-header text-center">Need help ?</div>
            <div class="card-body">
                <h5 class="card-title">Get In touch with us</h5>
                <p style="color: rgb(187, 185, 185);" class="card-text">Call or send Message (By WhatsApp also) :</p>
                <h5 style="color: white; margin-top: 5px;">(+237) 650 274 877 / 693 420 100</h5>

                <p style="color: rgb(187, 185, 185); margin-top: 20px;" class="card-text">Send and Email :</p>
                <h5 style="color: white; margin-top: 5px;">infos@vecademy.com</h5>

                <p style="color: rgb(187, 185, 185); margin-top: 20px;" class="card-text">Visit our office :</p>
                <h6 style="color: white; margin-top: 5px;">Bastos, Nkoleton, Entree Meumi Hotel, Yaounde, Cameroon.</h6>
            </div>
        </div>
    </div>
</div>