<div class="bd-example p-5">
    <div class="row g-5">
        <div class="col-5">
            <nav>
                <div class="nav border-none nav-tabs mb-3" id="nav-tab" role="tablist">
                    <a class="rounded no-decoration active col-6" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                        <div class="card p-2">
                            test my contact like my con test my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my con
                        </div>
                    </a>
                    <a class="rounded no-decoration col-6" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                        <div class="card p-2">
                            test my contact like my con test my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my con
                        </div>
                    </a>
                    <a class="rounded no-decoration col-6" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                        <div class="card p-2">
                            test my contact like my con test my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my con
                        </div>
                    </a>
                    <a class="rounded no-decoration col-6" id="nav-test-tab" data-bs-toggle="tab" data-bs-target="#nav-test" role="tab" aria-controls="nav-test" aria-selected="false">
                        <div class="card p-2">
                            test my contact like my con test my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my contest my contact like my con
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="col-7">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane active fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>
                        Tab 1
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>
                        tab 2
                    </p>
                </div>
                <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>
                        Tab 3
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">
                    <p>
                        Tab test
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<fieldset class="mb-3">

    <div class="form-check">
        <input type="radio" name="radios" class="form-check-input" id="exampleRadio1">
        <label class="form-check-label" for="exampleRadio1">Default radio</label>
    </div>
    <div class="mb-3 form-check">
        <input type="radio" name="radios" class="form-check-input" id="exampleRadio2">
        <label class="form-check-label" for="exampleRadio2">Another radio</label>
    </div>
</fieldset>