body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.form-control:focus {
    box-shadow: none;
}

.spacer-150 {
    opacity: 0;
    margin-top: 150px;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

blockquote {
    position: relative;
    padding: 5px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    clear: both;
    border-left: 2px solid #273c75;
    margin-left: 40px;
}

.f-26-50 {
    font-size: 26px;
    font-weight: 500;
}

.position-relative {
    position: relative;
}

.no-decoration {
    text-decoration: none;
}

.no-border {
    border: none;
}

.main-bg-color {
    background-color: #273c75;
}

.btn-bg-main {
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #3a61cc;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn-on-white {
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #273c75;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn-on-white:hover {
    background-color: #273c75c4;
    color: #ffffff;
}

.btn-bg-main:hover {
    background-color: #ffffff;
    color: #273c75;
}

.border-none {
    border: none;
}

.border-1 {
    border-bottom: 1px solid;
}

.divider {
    height: 5px;
}

.btn-bg-white {
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    text-decoration: none;
    color: #3a61cc;
    font-size: 18px;
}

.btn-bg-white:hover {
    background-color: #3a61cc;
    color: #ffffff;
}

.main-color {
    color: #273c75;
    text-decoration: none;
}


/* toolbar styling */

.toolbar {
    background-color: #ffffff;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.toolbar i {
    font-size: 18px;
    margin-right: 5px;
    color: #000000;
}

.toolbar span {
    font-size: 16px;
    margin-right: 5px;
    color: #000000;
}

.toolbar ul li a {
    font-size: 17px;
    margin-left: -19px;
    color: #000000;
}

.toolbar ul li a:hover {
    color: #132d74;
}

.toolbar ul li ul {
    padding: 11px;
    background-color: #273c75;
    border-radius: 0px;
}

.toolbar ul li ul li {
    margin-top: 15px;
}

.toolbar ul li ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.toolbar ul li ul li a:hover {
    color: rgb(207, 207, 207);
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.toolbar img {
    max-width: 150px;
}


/* toggle icon style */

.toggle-icon a i {
    font-size: 25px;
    color: #0a2368;
    background-color: #273c7523;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.item-container {
    background-color: #273c75;
    padding: 5px;
    width: fit-content;
}

.item-container p {
    color: #bebebe;
}

.item-container hr {
    color: #d8d8d8;
}

.item-container i,
span {
    color: #ffffff;
}

.nav-link-container ul li {
    margin-top: 10px;
}

.nav-link-container ul li a {
    color: #273c75;
    font-size: 18px;
    font-weight: 700;
}


/* navbar styling */

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav a {
    text-decoration: none;
    font-size: 17px;
    color: #273c75;
    font-weight: 500;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}


/* overalay propreties */

.overlay {
    position: relative
}

.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #273c75;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.carousel-item.overlay::before {
    opacity: 0.8;
    background: #273c75;
}

.dicipline-bg.overlay::before {
    opacity: 0.8;
    background: #273c75;
}

.mobile-baner.overlay::before {
    opacity: 0.8;
    background: #273c75;
}


/* Carousel base class */


/* Since positioning the image, we need to help out the caption */

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.bage-bg {
    background-color: #becdf8ad;
}

.bage-bg:hover {
    background-color: #becdf8ad;
}

.btn-bage:focus {
    box-shadow: none;
}

.single-dicipline-card {
    background-color: #273c758a;
}

.single-dicipline-card-header {
    background-color: #273c75d3;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 300px;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
}


/* Start featured section CSS */

.icon-bg-color {
    background-color: #0d2e86;
}

.description {
    color: rgb(124, 124, 124);
}

.main-color a {
    color: #0d2e86;
    text-decoration: none;
}

.main-color a:hover {
    color: #3a61cc;
    text-decoration: none;
}

.read-more {
    width: auto;
    padding: 5px 10px 5px 10px;
    background-color: #0d2e86;
    text-decoration: none;
    color: white;
}

.read-more:hover {
    background-color: #3a61cc;
    color: white;
}

.read-more:focus {
    box-shadow: none;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}


/* Footer style */

.footer-about {
    width: 100%;
    font-size: 16px;
}

.footer-about a i {
    color: #273c75;
    font-size: 22px;
}

.footer-link ul li a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 16px;
    font-weight: 400;
}

.footer-link ul li a:hover {
    transition: 0.8s;
    color: #273c75;
    margin-left: 2px;
}

.footer-link ul li {
    margin-top: 10px;
}

.footer-contact {
    min-width: 100%;
}

.footer-contact ul li {
    margin-top: 10px;
}

.footer-contact ul li i {
    margin-top: 10px;
    font-size: 22px;
    margin-right: 10px;
}

.footer-contact ul li a {
    color: #212529;
    text-decoration: none;
    pointer-events: none;
    font-size: 16px;
    font: 400;
}

.footer-bottum p {
    font-size: 14px;
    color: #666;
}

.footer-bottum p a {
    text-decoration: none;
    color: #273c75;
}


/* Contact us page style */

.contact-info {
    min-width: 100%;
}

.contact-info ul li {
    margin-top: 20px;
}

.contact-info ul li i {
    margin-top: 10px;
    font-size: 20px;
    font: 600;
    margin-right: 10px;
    color: #273c75;
}

.contact-info ul li a {
    color: #272727;
    text-decoration: none;
    pointer-events: none;
    font-size: 18px;
    font: 400;
}


/* Icon and icon box styling */

.dicipline-icon-box {
    padding-top: 15px;
    color: #ffffff;
}

.dicipline-icon-box i {
    font-size: 40px;
}

.single-dicipline-icon {
    margin-right: 15px;
    color: #cecfcf;
    font-size: 40px;
}

.icon-box-dicipline {
    height: 60px;
    width: 60px;
    background-color: #273c75;
}

.dicipline-tab-icon-box {
    background-color: #273c75;
}

.dicipline-tab-icon-box i {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.dicipline-tabs.nav-link.active {
    background-color: #becff8a4;
}

.dicipline-tabs.nav-link {
    border: none;
}

.dicipline-nav {
    border-color: #273c75;
}

.spaciality-fact i {
    font-size: 20px;
    color: #ffffff;
    margin-right: 10px;
}

.speciality-description h1 {
    font-size: 18px;
    font-weight: 600;
}

.speciality-description h2 {
    font-size: 18px;
    font-weight: 600;
}

.speciality-description h3 {
    font-size: 18px;
    font-weight: 600;
}

.speciality-description h4 {
    font-size: 18px;
    font-weight: 600;
}

.speciality-description h5 {
    font-size: 18px;
    font-weight: 600;
}

.speciality-description h6 {
    font-size: 18px;
    font-weight: 600;
}

.speciality-description ul li::marker {
    font-size: 30px;
    font-weight: 600;
}

@media only screen and (min-width: 250px) and (max-width: 770px) {
    .spacer-150 {
        opacity: 0;
        margin-top: 20px;
    }
}