{% load static %}
<!--  -->
{% if messages %}
<div class="col-12 mt-3 ">
    {% for item in messages %}
    <!--  -->
    {% if item.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{item}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif item.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{item}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif item.tags == 'info' %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{item}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!--  -->
    {% endfor %}
</div>
{% endif %}