{% load static %}
<div class="row g-3">
    <div class="col-xxl-12 col-xl-12, col-lg-12 col-md-12 col-sm-12, col-12-xs-12">
        <div style="opacity: 0.75; padding: 20px;" class="card text-white main-bg-color mb-3" style="max-width: 18rem;">
            <div style="font-size: 22px; border-bottom: 1px dashed white;" class="card-header text-center">Need help ?</div>
            <div class="card-body">
                <h6 class="card-title mb-3">Get In touch with us</h6>

                <span class="text-white-50">Call or send Message (By WhatsApp also) :</span>
                <h6 class="fw-600 text-white mb-4">(+237) 650 274 877 / 693 420 100</h6>

                <span class="text-white-50">Send and Email :</span>
                <h6 class="fw-600 text-white mb-4">infos@vecademy.com</h6>

                <span class="text-white-50">Visit our office :</span>
                <h6 class="fw-600 text-white">Bastos, Nkoleton, Entree Meumi Hotel, Yaounde, Cameroon.</h6>
            </div>
        </div>
    </div>
</div>