{% extends 'main/index.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block contain%}
<main>
    <div class="container">
        <div class="row g-0 mt-5">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body">
                    <h3 class="main-color card-title">Free Advice & Guidance</h3>
                    <p class="card-text p-2">
                        Although education is no longer free the team at Medical Doorway believe getting reliable advice empowering you to make the right decision should be. This is why our advice and guidance is always
                        <span style="font-weight: 800; text-transform :uppercase;">
                                    100% FREE OF CHARGE*
                                </span>. You are going to be making a big investment in terms of tuition fees, living expenses and time so don’t waste money determining if studying Medicine, Dentistry or Veterinary Medicine abroad
                        is the right option for you. We put you at the heart of everything we do and our principle of offering honest and transparent advice and guidance enables you to make a truly informed choice. This means you avoid the stress and
                        indignity of dealing with fee charging agents that will tell you anything to take money out of your pocket.
                        <p style="font-weight: 800; padding: 10px">
                            *Excluding applications for Gomel State Medical University
                        </p>
                    </p>
                    <div class="row mt-20">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="focus-text-about card p-4" style="max-width: 320px; border-color :#273c75a1">
                                <p class="focus-text-about">
                                    We put you at the heart of everything we do
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/site-images/about1.jpg' %} " class="img-fluid " alt="... ">
            </div>
        </div>
        <div class="row g-0 mt-4">
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/site-images/about2.jpg' %} " class="img-fluid " alt="... ">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body mx-lg-3">
                    <h3 class="main-color card-title">Free Advice & Guidance</h3>
                    <p class="card-text p-2">
                        Although education is no longer free the team at Medical Doorway believe getting reliable advice empowering you to make the right decision should be. This is why our advice and guidance is always
                        <span style="font-weight: 800; text-transform :uppercase;">
                                    100% FREE OF CHARGE*
                                </span>. You are going to be making a big investment in terms of tuition fees, living expenses and time so don’t waste money determining if studying Medicine, Dentistry or Veterinary Medicine abroad
                        is the right option for you. We put you at the heart of everything we do and our principle of offering honest and transparent advice and guidance enables you to make a truly informed choice. This means you avoid the stress and
                        indignity of dealing with fee charging agents that will tell you anything to take money out of your pocket.
                        <p style="font-weight: 800; padding: 10px">
                            *Excluding applications for Gomel State Medical University
                        </p>
                    </p>
                    <div class="row mt-20">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="focus-text-about card p-4" style="max-width: 320px; border-color :#273c75a1">
                                <p class="focus-text-about">
                                    We put you at the heart of everything we do
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<!-- Start Newsletter Area -->
{% include 'main/newsletter.html' %}
<!-- /End Newsletter Area -->
{% endblock %}