{% extends 'index.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block contain%}
<main>
    <div class="container">
        <div class="row g-0 mt-5">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body">
                    <h3 class="main-color card-title">Career Counselling</h3>
                    <p class="card-text p-2">
                        Vecadamy Study Abroad Consultancy (VESAC) focuses on providing students with high- quality counseling with a human touch. We assess students&#39; needs, compare market demands, and then recommend the best alternative for them before making any recommendations.
                        We help students choose the right country, university, and course for them, as well as providing extensive personal guidance based on their profile, goals, interests, and financial constraints. Our counselors are highly trained
                        and experienced, ensuring that students receive the best advice and guidance possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/about1.jpg' %} " class="img-fluid " alt="Career Counselling">
            </div>
        </div>
        <div class="row flex-lg-row-reverse g-0 mt-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body mx-lg-3">
                    <h3 class="main-color card-title">Country / University &amp; Course Selection</h3>
                    <p class="card-text p-2">
                        If you want to study abroad, choosing the right courses is even more pertinent. You must make a decision based on your interests and goals before applying for abroad study, and you must inform the counsellors to receive adequate help. When it comes to
                        studying abroad, the advisors first narrow down the universities that are most suited to your interests and profile. After narrowing down your choices, you can talk to your family and friends before making a final decision. Our
                        counsellors assist you in making an informed decision about which country, university, and course to pursue.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/about2.jpg' %} " class="img-fluid " alt="Country / University &amp; Course Selection">
            </div>
        </div>

        <div class="row g-0 mt-5">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body">
                    <h3 class="main-color card-title">Assessment for your Cash</h3>
                    <p class="card-text p-2">
                        International education is costly, and this concerns the majority of students; however, we assist students in applying early for scholarships to assist them in obtaining the necessary funding to support their higher education.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/about1.jpg' %} " class="img-fluid " alt="Career Counselling">
            </div>
        </div>

        <div class="row flex-lg-row-reverse g-0 mt-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body mx-lg-3">
                    <h3 class="main-color card-title">Application Process</h3>
                    <p class="card-text p-2">
                        Students believe that filling out an application form is difficult but important because it is the first document they will use to communicate with the university. However, we are here to help you fill out the application forms, recommendation letters,
                        statements of purpose, and other documents required by the University. Our experts will provide you expert guidance in filling out all of your applications.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/about2.jpg' %} " class="img-fluid " alt="Country / University &amp; Course Selection">
            </div>
        </div>

        <div class="row g-0 mt-5">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-body">
                    <h3 class="main-color card-title">Documents Preparation</h3>
                    <p class="card-text p-2">
                        Documentation are important in obtaining admission, therefore submitting the correct documents ensures that your visa gets approved. If your documents are not in good order, your application will be rejected, resulting in a delay in the visa process and
                        the possibility of admission cancellation. After picking a university, we will aid students in producing the documents by displaying samples, and after drafting the documents, we will carefully review them to ensure that they are
                        in a professional manner for submission.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/about1.jpg' %} " class="img-fluid " alt="Career Counselling">
            </div>
        </div>
    </div>
</main>
{% endblock %}