{% extends 'main/index.html' %} {% load static %} {% block contain%}

<section class="section p-lg-5 blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="post-thumbnils">
                    <img src="{{single_post.post_image.url}}" alt="#">
                </div>
                <div class="post-details">
                    <div class="detail-inner">
                        <h2 class="post-title">
                            <a href="#">{{single_post.post_title}}</a>
                        </h2>

                        <ul class="custom-flex post-meta">
                            <li>
                                <a href="#">
                                    <i class="lni lni-user"></i> Vecademy staff
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-calendar"></i> {{single_post.date_created}}
                                </a>
                            </li>
                            {% if post_comment_count %}
                            <li>
                                <a href="#commentId">
                                    {% if post_comment_count > 1 %}
                                    <i class="lni lni-comments"></i> {{post_comment_count}} Comments
                                    <!--  -->
                                    {% else %}
                                    <i class="lni lni-comments"></i> {{post_comment_count}} Comment
                                    <!--  -->
                                    {% endif %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <div>
                            <p>
                                {{single_post.post_description|safe}}
                            </p>
                        </div>
                        <div class="post-tags-media">
                            {% if post_tag %}
                            <div class="post-tags popular-tag-widget mb-xl-40">
                                <h5 class="tag-title">Post Tags</h5>
                                <div class="tags">
                                    {% for item in post_tag %}
                                    <a href="#">{{item.tag_name}}</a>
                                    <!--  -->
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="post-social-media">
                                <h5 class="share-title">Social Share</h5>
                                <ul class="custom-flex">
                                    <li>
                                        <a href="#">
                                            <i class="lni lni-facebook-filled"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni lni-twitter-original"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni lni-vimeo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni lni-behance-original"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni lni-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if post_comment %}
                    <div class="post-comments" id="commentId">
                        <h3 class="comment-title">Comments</h3>
                        <ul class="comments-list">
                            <li>
                                {% for item in post_comment %}
                                <div class="card mt-20">
                                    <div class="card-body">
                                        <h6 class="card-title">{{item.commented_by}}</h6>
                                        <span class="date">{{item.date_created.date}}</span>
                                        <p class="card-text">
                                            {{item.comment}}
                                        </p>
                                    </div>

                                </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    <div class="comment-form">
                        <h3 class="comment-reply-title">Post Comments</h3>
                        {% include 'main/comment-form.html' %}
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 col-md-4 col-12">
                {% include 'main/post-event-sidebar.html' %}
            </aside>
        </div>
    </div>
</section>

{% endblock %}