{% load static %}
<main>
    <div class="main-bg-color mt-5">
        <div class="container px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <img style="border: 1px dashed #ffff;" src="{% static 'images/site-images/to-cta-2.png' %}" class="d-block mx-lg-auto img-fluid rounded-3 shadow" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <h2 style="font-size: 30px;" class="text-white fw-bold lh-1 mb-3">Unlimited possibilities with the best programs</h2>
                    <p style="color: rgb(204, 204, 204);">Choose from the best study programs offered by the best universities in the countries of your choice</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-bg-main" href="{% url 'programs' %}">All programs</a>
                        <a class="btn btn-bg-white" href=" {% url 'contact' %} ">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>