{% load static %}
<section class="section free-version-banner">
    <div class="container-md">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="section-title mb-60">
                    <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Vecademy</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="animation-delay: 0.4s; animation-name: fadeInUp;">Free advice and assistance to Study Technologie in USA</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="animation-delay: 0.6s; animation-name: fadeInUp;">Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac. Vivamus dignissim sapien amet vivamu</p>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                <div class="row pt-5 g-3 ">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                        <div class="contact-btn text-right text-lg-right button wow fadeInRight" data-wow-delay=".8s">
                            <a href="#" rel="nofollow" class="btn mouse-dir">Do something now
                            <span class="dir-part"></span></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                        <div class="contact-btn text-right text-lg-right button-2 wow fadeInRight" data-wow-delay=".8s">
                            <a href="#" rel="nofollow" class="btn-2 mouse-dir">Do something now
                            <span class="dir-part"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>