{% extends 'main/index.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block contain%}
<!--  -->
{% if category_to_navebar %}
<main>
    <div class="p-4 mt-4">
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-lg-8 col-md-9 col-12">
                    <div class="row">
                        {% for items in category_to_navebar %}
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="#">
                                <div class="programe-category-page wow fadeInUp" data-wow-delay=".2s">
                                    <h3 class="main-bg-color text-white p-4">
                                        <a class="text-white no-decoration" href="{% url 'single-category' items.program_category_title %}">{{items.program_category_title}}</a>
                                    </h3>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="position-sticky" style="top: 2rem;">
                        {% include 'main/page-sidebar.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}
<!--  -->
{% endblock %}