{% load static %}
<form method='POST' class="row g-3 needs-validation" id='getInTouchForm' novalidate ">
    {% csrf_token %}
    <div class="row gy-3 ">
        <div class="col-lg-6 col-12 ">
            <div class="mb-1 form-flied ">
                <label for="validationCustom01 " class="form-label ">Your Full Name
                    <span style="color: rgb(153, 10, 10); ">*</span>
                </label>
                <input name='full_name' type="text " class="form-input form-control " id="validationCustom01 " required style="border: none; padding-left: 20px; ">
                <div class="valid-feedback ">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 ">
            <div class="mb-1 form-flied ">
                <label for="validationCustom05 " class="form-label ">Phone number
                    <span style="color: rgb(153, 10, 10); ">*</span>
                </label>
                <input name='phone' type="tel " class="form-input form-control " id="validationCustom05 " required style="border: none; padding-left: 20px; ">
                <div class="valid-feedback ">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 ">
            <div class="mb-1 ">
                <label for="validationCustom04 " class="form-label ">Your Email Address
                    <span style="color: rgb(153, 10, 10); ">*</span>
                </label>
                <input name='email' type="email " class="form-input form-control " id="validationCustom04 " required style="border: none; padding-left: 20px; ">
                <div class="valid-feedback ">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 ">
            <div class="mb-1 ">
                <label for="validationCustom01 " class="form-label "> Your Subject
                    <span style="color: rgb(153, 10, 10); ">*</span>
                </label>
                <input name='subject' type="text " class="form-input form-control " id="validationCustom01 " required style="border: none; padding-left: 20px; ">
                <div class="valid-feedback ">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <div class="mb-1 ">
                <label for="validationCustom08 " class="form-label ">Your message 
                    <span style="color: rgb(153, 10, 10); ">*</span> 
                </label>
                <textarea name='message' class="form-control form-texterea mb-10 " id="validationCustom08 " required rows="5 " style="padding-left: 20px; "></textarea>
                <div class="valid-feedback ">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <div class="contacts-button button ">
                <button type="submit " class="btn btn-on-white ">Get A Quote</button>
            </div>
        </div>
    </div>
</form>