{% load static %}
<style>
    textarea {
        height: 120px;
    }
</style>
<form method="POST" class="row g-3" id="contact-form">
    {% csrf_token %}
    <div class="col-12" id="message-box">

    </div>
    <div class="form-floating mb-3 col-lg-6 col-md-6 col-12">
        <!--  -->
        {{form.full_name}}
        <div class="valid-feedback ">
            Looks good!
        </div>
        <label for="full_name " class="form-label ">Your name</label>
    </div>

    <div class="form-floating mb-3 col-lg-6 col-md-6 col-12">
        <!--  -->
        <!--  -->
        {{form.phone_number}}
        <div class="valid-feedback ">
            Looks good!
        </div>
        <label for="phone " class="form-label ">Your phone number</label>
    </div>

    <div class="form-floating mb-3 col-lg-6 col-md-6 col-12">
        <!--  -->
        {{form.email}}
        <div class="valid-feedback">
            Looks good!
        </div>
        <label for="email" class="form-label ">Your Email Address</label>
    </div>

    <div class="form-floating mb-3 col-lg-6 col-md-6 col-12">
        <!--  -->
        {{form.object}}
        <div class="valid-feedback">
            Looks good!
        </div>
        <label for="subject " class="form-label ">Your Subject</label>
    </div>

    <div class="form-floating mb-3 col-12">
        <!--  -->
        {{form.message}}
        <div class="valid-feedback">
            Looks good!
        </div>
        <label for="message" class="form-label">Your message</label>
    </div>


    <div class="col-12">
        <button class="btn btn-on-white" type="submit">Get a quote</button>
    </div>
</form>