{% extends 'main/index.html' %} {% load static %} {% block contain%}
<!-- Start Hero Area -->
<div class="section">
    <div class="container-md">
        <div class="row mb-4 text-center">
            <div class="col-lg-12 d-flex justify-content-center">
                <h1 class="h2 text-bald ">Countries</h1>
            </div>
        </div>
        {% if all_countries %}
        <div class="row g-3 ">
            {% for item in all_countries %}
            <div class="col-lg-3 col-md-4 col-6 d-flex justify-content-center">
                <a class="remove-decoration" href="{% url 'single-country' item.country_name %}">
                    <div class="card border-none ">
                        <img src="{{item.country_flag.url}}" class="card-img-top country-image" alt="{{item.country_image}} ">
                        <div class="card-body ">
                            <h5 class="university-name card-title ">{{item.country_name}}</h5>
                            <!-- <div>
                                <h6 class="university-count">universities count <span class="university-count-span">5</span></h6>
                            </div> -->
                            <div style="width: 100%;">
                                <a style="color: white;" href="{% url 'single-country' item.country_name %}" class="university-read-more">Fine out more</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <!-- Start Partners Area -->
    {% include 'main/latest-new.html' %}
    <!-- End Partners Area -->


    <!-- Start Newsletter Area -->
    {% include 'main/newsletter.html' %}
    <!-- /End Newsletter Area -->
    {% endblock %}