{% extends 'index.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block contain%}
<!--  -->
{% if dicipline %}
<main>
    <div class="mt-lg-5 mt-4 mb-5">
        <div class="container p-lg-0, p-md-0 px-5">
            <div class="row g-2 row-cols-lg-5 row-cols-md-3 row-cols-1">
                {% for item in dicipline %}
                <div class="col">
                    <a href="{% url 'single-dicipline' item.short_name %}">
                        <div style="min-height: 180px;" class="card text-center p-3 main-bg-color rounded-0">
                            <div class="dicipline-icon-box">
                                {{item.dicipline_icon.as_html}}
                            </div>
                            <div class="card-body">
                                <h6 class="text-white fw-500">
                                    <a class="text-white no-decoration" href="{% url 'single-dicipline' item.short_name %}">{{item.short_name}}</a>
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endif %}
<!--  -->
{% endblock %}