{% load static %}
<!--  -->
{% if featured_coutries %}
<main>
    <div class="container py-5" id="custom-cards">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 mb-4">
                <h4 class="fw-600">Countries where you can study</h4>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-1 g-4">
            {% for item in featured_coutries %}
            <div class="col">
                <div class="bg-white no-border shadow">
                    <a href="{% url 'single-country' item.country_name %}">
                        <img style="width: 100%; max-height:160px" class="image-fluid" src="{{item.country_image.url}}" alt="{{item.country_name}}">
                    </a>
                    <div class="card-body">
                        <h5 class="fw-600 main-color">
                            <a class="no-decoration" href="{% url 'single-country' item.country_name %}">
                            Study in {{item.country_name}}
                        </a>
                        </h5>
                        <p class="card-text">{{item.country_description|safe|truncatechars:125}}</p>
                        <a href="{% url 'single-country' item.country_name %}" class="btn btn-sm read-more">Find out more</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="row g-0 mt-2">
            <div class="col-12 d-flex justify-content-center">
                <a class="btn btn-sm read-more" href="{% url 'article' base_page_continent.page_name %}">All countries</a>
            </div>
        </div>
    </div>
</main>
{% endif %}