{% load static %}
<!--  -->
{% if feature_program %}
<section style="padding: 20px 0 30px 0; " class="services">
    <div class="container-lg">
        <div class="row">
            {% for items in feature_program %}
            <div class="col-lg-3 col-md-6 col-12">
                <a href="{% url 'single-program' items.program_name %}">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            {% if items.program_icon %}
                            <span>{{items.program_icon.as_html}}</span>
                            <!--  -->
                            {% else %}
                            <span><i class="lni lni-graduation"></i></span>
                            <!--  -->
                            {% endif %}
                        </div>
                        <h3><a href="{% url 'single-program' items.program_name %}">{{items.program_name}}</a></h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}