{% load static %}

<!-- Start Middle Top -->
<div class="container-fluid px-3 mt-5 py-3">
    <div class="row g-4">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12 d-flex justify-content-center">
            <!-- Single Widget -->
            <div class="footer-about">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="#"></a>
                </div>
                <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <div class="row g-2 mx-4 mt-4">
                    <div class="col-2">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                    </div>
                    <div class="col-2">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                    </div>
                    <div class="col-auto">
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="col-2">
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <!-- End Single Widget -->
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="footer-link">
                <h3 class="main-color">Quick links</h3>
                <ul class="navbar-nav">
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="{% url 'contact' %}">Get in touch</a></li>
                    <li><a href="{% url 'programs' %}">All programs</a></li>
                    <li><a href="{% url 'countries' %}">All countries</a></li>
                    <li><a href="{% url 'universitis' %}">All universities</a></li>
                    <li><a href="{% url 'program-category' %}">Programs categories</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12 d-flex justify-content-center">
            <!-- Single Widget -->
            <div class="footer-contact">
                <h3 class="main-color">Contact Us</h3>
                <ul class="navbar-nav">
                    <li><i class="bi bi-telephone"></i> <a href="#">(+237) 650 274 877 / 693 420 100</a></li>
                    <li><i class="bi bi-envelope"></i> <a href="#">info@vecademy.com</a></li>
                    <li><i class="bi bi-geo-alt"></i> <a href="#"> Bastos, Nkoleton, Entree Meumi Hotel, Yaounde, Cameroon.</a></li>
                </ul>
            </div>
            <!-- End Single Widget -->
        </div>
    </div>

    <div class="row mt-5 pt-3">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="footer-bottum">
                <p>Copyright<a href="https://vecademy.com/" rel="nofollow" target="_blank"> Vecademy</a> 2021 all rights reserved.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="footer-bottum">
                <p>Developed and designed by Vecademy team</p>
            </div>
        </div>
    </div>
</div>