{% load static %}
<section id="fun-facts" class="fun-facts overlay">
    <div class="fun-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-fun wow fadeIn" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <div class="head">
                            <div class="icon"><i class="lni lni-emoji-smile"></i></div>
                            <div class="counter"><span id="secondo1" class="countup" cup-end="2050">2050 </span>+
                            </div>
                            <h2>Happy Clients</h2>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-fun wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                        <div class="head">
                            <div class="icon"><i class="lni lni-empty-file"></i></div>
                            <div class="counter"><span id="secondo2" class="countup" cup-end="2050">2050 </span>+
                            </div>
                            <h2>Complete Project</h2>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-fun wow fadeIn" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                        <div class="head">
                            <div class="icon"><i class="lni lni-investment"></i></div>
                            <div class="counter"><span id="secondo3" class="countup" cup-end="500">500 </span>K</div>
                            <h2>Investments</h2>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-fun wow fadeIn" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">
                        <div class="head">
                            <div class="icon"><i class="lni lni-cup"></i></div>
                            <div class="counter"><span id="secondo4" class="countup" cup-end="45">45 </span></div>
                            <h2>Winning Awards</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>