{% load static %}
<style>
    .tns-nav {
        display: none;
    }
</style>
<!-- Single Slider -->
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2>Student recruitment agencies should be avoided!</h2>
                        <p>With Vecademy, you may apply directly.
                            <br> There is a scholarship program! Advice and application management are both provided free of charge.
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'about' %}">Find out more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2>Find the study program that matches your ambitions</h2>
                        <p>You have the privilege of choosing among the hundreds of programs available in our partner university's institutes around the world. We take care of the procedures for you</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'programs' %}">Our programs</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2 class="wow fadeInUp" data-wow-delay=".5s">Study at the university of your choice </h2>
                        <p class="wow fadeInUp" data-wow-delay=".7s">Prestigious universities allowing you to follow a perfect academic path in order to secure your ideal career.</p>
                        <p><a href="{% url 'universitis' %}" class="btn btn-lg btn-primary">Find out more </span></a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2>Study in the country of your choice</h2>
                        <p>Find the university that suits you according to the country of your choice</p>
                        <p><a href="{% url 'countries' %}" class="btn btn-lg btn-primary">Find out more </span></a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2>We make it easier for you</h2>
                        <p>Join us today and let us help you choose your next academic destination.</p>
                        <p><a href="{% url 'contact' %}" class="btn btn-lg btn-primary">Contact us </span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>