{% load static %}
<!-- Single Slider -->
<main class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
    <div class="mb-5">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button style="height: 20px; width:20px; border-radius:100%" type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                <button style="height: 20px; width:20px; border-radius:100%" type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner ">
                <div style="background-image: url('../static/images/hero-slide-1.jpg' );" class="bg-cover carousel-item overlay active">
                    <div class="carousel-caption text-start">
                        <h2>Prepare for your studies abroad</h2>
                        <p>
                            Choose a study program and vecademy helps you find a better university in the country of your choice.
                        </p>
                        <p>
                            <a class="btn btn-lg btn-bg-main" href="{% url 'about' %}">Find out more</a>
                            <a class="btn btn-bg-white mt-sm-10" href=" {% url 'contact' %} ">Contact us</a>
                        </p>
                    </div>
                </div>
                <div style="background-image: url('../static/images/image-2.webp');" class="bg-cover overlay carousel-item">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h2>We make it easier for you</h2>
                            <p>Join us today and let us help you choose your next academic destination.</p>
                            <p>
                                <a href="{% url 'about' %}" class="btn btn-lg btn-bg-main ">About us </span></a>
                                <a class="btn btn-bg-white mt-sm-10" href=" {% url 'get-in-touch' %} ">Get in touch</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Mobile display -->
<main class="d-block d-md-none mb-5">
    <div style="background-image: url('../static/images/img4.jpg'); height: 340px;" class="mobile-baner main-bg-color p-4 bg-cover overlay">
        <div class="position-relative text-white py-5">
            <h2 class="">Student recruitment agencies should be avoided!</h2>
            <p>With Vecademy, you may apply directly.
                <br> There is a scholarship program! Advice and application management are both provided free of charge.
            </p>
            <p>
                <a class="btn btn-lg btn-bg-main" href="{% url 'about' %}">Find out more</a>
                <a class="btn btn-bg-white" href=" {% url 'get-in-touch' %} ">Get in touch</a>
            </p>
        </div>
    </div>
</main>