{% load static %}
<section class="feature-bg-blue Features section">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                    <div class="watch-inner">
                        <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                            <a href="https://www.youtube.com/watch?v=BqI0Q7e4kbk" class="glightbox video"><i
                                    class="lni lni-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="feature-content">
                    <div class="title">
                        <span class="wow fadeInRight" data-wow-delay=".3s">Why choosing vecademy</span>
                        <h3 class="wow fadeInRight" data-wow-delay=".5s">Consulting Market <br> Leader Experts</h3>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="feature-thumb">
                            <i class="lni lni-bar-chart"></i>
                        </div>
                        <div class="banner-content">
                            <h2 class="title">Grow Your Business With US</h2>
                            <p>Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac. Vivamus dignissim sapien amet vivamu</p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="feature-thumb">
                            <i class="lni lni-checkmark-circle"></i>
                        </div>
                        <div class="banner-content">
                            <h2 class="title">Fast Loan Approval</h2>
                            <p>Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac. Vivamus dignissim sapien amet vivamu</p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="feature-thumb">
                            <i class="lni lni-support"></i>
                        </div>
                        <div class="banner-content">
                            <h2 class="title">Life Time Support</h2>
                            <p>Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac. Vivamus dignissim sapien amet vivamu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>