{% load static %}
<!--  -->
{% if featured_post %}
<div class="latest-news-area section">
    <div class="letast-news-grid">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Stay up to date</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Latest News &amp; Events</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in featured_post %}
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="letest-news-item wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="image">
                            <img src="{{item.post_image.url}}" alt="{{item.post_title|truncatechars:75}}">
                        </div>
                        <div class="content-body">
                            <div class="meta-details">
                                <a href="#" class="meta-list"><i class="lni lni-user"></i><span>Vecademy Staff</span></a>
                                <a href="#" class="meta-list"><i class="lni lni-calendar"></i><span>{{item.date_created.date}}</span></a>
                            </div>
                            <h4 class="title"><a href="{% url 'single-post' item.post_title  %}">{{item.post_title|truncatechars:75}}</a></h4>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}