{% extends 'index.html' %} {% load static %} {% block contain%}
<!-- Start Hero Area -->
{% include 'main/hero-section.html' %}
<!--/ End Hero Area -->

<!-- Start Features Area -->
{% include 'main/featured-program-categorie.html' %}
<!-- End Features Area -->

<!-- Start Service Area -->
{% include 'main/call-to-action-1.html' %}
<!-- /End Services Area -->

<!-- Start Service Area -->
{% include 'main/featured-countries.html' %}
<!-- /End Services Area -->

<!-- Start Newsletter Area -->
{% include 'main/call-to-action-2.html' %}
<!-- /End Newsletter Area -->

<!-- Start Partners Area -->
{% include 'main/featured-universities.html' %}
<!-- End Partners Area -->


{% endblock %}