{% extends 'main/index.html' %} {% load static %} {% block contain%}
<!-- Start Hero Area -->
{% include 'main/hero-section.html' %}
<!--/ End Hero Area -->

<!-- Start Features Area -->
{% include 'main/featured-program-categorie.html' %}
<!-- End Features Area -->

<!-- Start Service Area -->
{% include 'main/interprise-feature.html' %}
<!-- /End Services Area -->

<!-- Start Service Area -->
{% include 'main/call-to-action.html' %}
<!-- /End Services Area -->

<!-- Pricing Table -->

<!--/ End Pricing Table -->

<!-- Start Partners Area -->
{% include 'main/partners-section.html' %}
<!-- End Partners Area -->

<!-- Start Newsletter Area -->
{% include 'main/fun-fact.html' %}
<!-- /End Newsletter Area -->

<!-- Start Partners Area -->
{% include 'main/testimonial.html' %}
<!-- End Partners Area -->

<!-- Start Partners Area -->
{% include 'main/latest-new.html' %}
<!-- End Partners Area -->

<!-- Start Newsletter Area -->
{% include 'main/newsletter.html' %}
<!-- /End Newsletter Area -->

{% endblock %}