{% load static %}
<main>
    <div class="main-bg-color mt-5">
        <div class="container-lg ">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-6 col-12 text-center text-lg-start">
                    <h2 class="text-white">Subscribe to our newsletter</h2>
                    <p style="color: rgb(204, 204, 204);">The best to stay informed about new study opportunities. Receive them in your email box by subscribing to our newsletter</p>
                </div>
                <div class="col-lg-6 col-12 mx-auto col-lg-5">
                    <form class="p-3 border rounded-3">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" required placeholder="name@example.com">
                        </div>
                        <button style="width: 100%;" class="btn btn-bg-main" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>