{% load static %}
<section style="margin-top: -40px;" class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client-goma.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>