{% load static %}
<section style="margin-top: -40px;" class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                <div class="client-logo">
                    <img src="{% static 'images/client1.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client2.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client3.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client4.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client5.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client6.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client7.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client8.png' %}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{% static 'images/client9.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>