{% load static %}
<div class="service-details">
    <div class="row mb-30 g-3">
        <div class="col-lg-12">
            <div class="service-single-img">
                <img style="width: 100%; max-height: 320px;" src="{{single_university.university_image.url}}" alt="{{single_country.country_name}}">
            </div>
            {% if university_program_count %}
            <div class="mt-4">
                <h6 style="font-size: 22px; font-weight:600">Program(s) count <span style="height: 40px; width: 60px; border-radius: 100%" class="main-bg-color text-white py-2 px-2">{{university_program_count}}</span></h6>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-12">
            <div class="content-body">
                {{single_university.university_description|safe}}
            </div>
        </div>
    </div>
</div>