{% extends 'index.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block contain %}
<!--  -->
<main>
    <div style="background-image: url('{{university.university_image.url}}');" class="dicipline-bg container mt-3 position-relative bg-cover overlay">
        <div class="container">
            <div class="row px-lg-3 py-lg-5">
                <div class="col-lg-6">
                    <hr class="spacer-150">
                    <div class="row">
                        <div class="col-auto">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <img height="70px" width="70px" class="image-fluid position-relative rounded-circle shadow" src="{{university.university_logo.url}}" alt="{{university.university_name}} logo">
                                </div>
                                <div class="col">
                                    <h2 class="fw-500 px-lg-2 lh-3 text-start text-white text-capitalize position-relative"> {{university.university_name}}</h2>
                                </div>
                            </div>
                            <div class="mt-5 mb-4">
                                {% if program.count > 0 %}
                                <div class="row row-cols-md-auto row-cols-1 gy-md-0 gy-4 gx-md-5">
                                    <div class="col">
                                        <button type="button" class="btn btn-bage mx-lg-5 text-white bage-bg position-relative pe-none">
                                            Programs found
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                                                <span style="font-size: 18px;">{{program.count}}</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-3">
                    <!-- <div class="card single-dicipline-card mb-lg-2 mb-4">
                        <h5 class="card-header fw-500 bage-bg text-white">About this speciality</h5>
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-12">
                                    <div class="bage-bg rounded p-2 spaciality-fact">
                                        <h6 class="fw-600 mb-0">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="bi bi-tags"> </i> {{university.speciality_name|truncatechars:30}} programs
                                                </div>
                                                <div class="col">
                                                    <span class="d-flex justify-content-end fw-500 h5 text-white">{{program.count}}</span>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bage-bg rounded p-2 spaciality-fact">
                                        <h6 class="fw-600 mb-0">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="bi bi-clock-history"></i>Duration of studies
                                                </div>
                                                <div class="col">
                                                    <span class="d-flex justify-content-end fw-500 h5 text-white">{{spaciality.year_of_study}}</span>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bage-bg rounded p-2 spaciality-fact">
                                        <h6 class="fw-600 mb-0">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="bi bi-piggy-bank"></i> Average fees
                                                </div>
                                                <div class="col">
                                                    <span class="d-flex justify-content-end fw-500 h5 text-white">~ 250,000 CFA</span>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bage-bg rounded p-2 spaciality-fact">
                                        <h6 class="fw-600 mb-0">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="bi bi-wallet"></i> Average annual salary
                                                </div>
                                                <div class="col">
                                                    <span class="d-flex justify-content-end fw-500 h5 text-white">~ 1,000,000 CFA</span>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container px-lg-5">
        <div class="row mt-5 mb-5">
            <div class="col-lg-8">
                <div class="row row-cols-1 gy-3">
                    <div class="col">
                        <div class="shadow bg-white p-3">
                            <div class="col text-center">
                                <h6 class="fw-500 text-uppercase main-color px-lg-4"> Discover more about <span class="fw-600 main-color">{{university.university_name}}</span>.</h6>
                            </div>

                            <div class="speciality-description text-start mt-3">
                                {{university.university_description|safe}}
                            </div>
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <i class="bi bi-geo-alt main-color"></i> {{university.choose_country}}, {{university.region}}
                                </div>
                                <div class="col-auto">
                                    <span class="text-success fw-600"> <i class="bi bi-file-earmark-person"></i> Admission open</span>
                                </div>
                            </div>
                            {% if university_fact %}
                            <div class="row gy-3 mt-3">
                                {% for item in university_fact %}
                                <div class="col-auto">
                                    <div class="bage-bg p-2 rounded" data-bs-toggle="tooltip" data-bs-html="true" title="{{item.fact_name}}">
                                        <span class="text-muted">{{item.fact_icon.as_html}} {{item.fact_name|truncatechars:22}}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="shadow bg-white p-3">
                            <div class="col text-center m-3">
                                <h6 class="fw-500 text-uppercase main-color px-lg-4"><span class="fw-600 main-color">{{university.university_name}}</span> programs.</h5>
                            </div>
                            <div class="mt-5">
                                <nav>
                                    <div class="dicipline-nav nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                        <div class="dicipline-tabs nav-link active" id="nav-bachelor-tab" data-bs-toggle="tab" data-bs-target="#nav-bachelor" type="button" role="tab" aria-controls="nav-bachelor" aria-selected="true">
                                            <div class="col d-flex align-items-center">
                                                <div class="mx-2 text-muted">
                                                    <h6 class="fw-500 mb-0">Bachelor ({{bachelor_speciality.count}})</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dicipline-tabs nav-link" id="nav-master-tab" data-bs-toggle="tab" data-bs-target="#nav-master" type="button " role="tab" aria-controls="nav-master" aria-selected="false">
                                            <div class="col d-flex align-items-center dicipline-button-bg">
                                                <div class="mx-2 text-muted">
                                                    <h6 class="fw-500 mb-0">Master ({{master_speciality.count}})</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dicipline-tabs nav-link" id="nav-phd-tab" data-bs-toggle="tab" data-bs-target="#nav-phd" type="button" role="tab" aria-controls="nav-phd" aria-selected="false">
                                            <div class="col d-flex align-items-center">
                                                <div class="mx-2 text-muted">
                                                    <h6 class="fw-00 mb-0">PhD ({{phd_speciality.count}})</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="nav-bachelor" role="tabpanel" aria-labelledby="nav-bachelor-tab">
                                        {% if bachelor_speciality %}
                                        <table class="table table-striped table-hover table-borderless table-responsive">
                                            <thead class="bage-bg">
                                                <tr>
                                                    <th scope="col">Programs</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in bachelor_speciality %}
                                                <tr>
                                                    <td>{{item.program_name}}</td>
                                                    <td>
                                                        <div class="row gy-lg-0 gy-2 row-cols-auto d-flex justify-content-end">
                                                            <!-- <div class="col">
                                                                <a class="btn btn-sm btn-secondary" href="">Details</a>
                                                            </div> -->
                                                            <div class="col">
                                                                <a class="btn btn-sm read-more text-white" href="{% url 'application' item.id %}">Apply</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <div class="row g-3 p-3">
                                            <div class="col-12">
                                                <a class="text-decoration-none btn-lg btn-on-white" href="{% url 'contact' %}">Contact us for more informations</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-master" role="tabpanel" aria-labelledby="nav-master-tab">
                                        {% if master_speciality %}
                                        <table class="table table-striped table-hover table-borderless table-responsive">
                                            <thead class="bage-bg">
                                                <tr>
                                                    <th scope="col">Programs</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in master_speciality %}
                                                <tr>
                                                    <td>{{item.program_name}}</td>
                                                    <td>
                                                        <div class="row gy-lg-0 gy-2 row-cols-auto d-flex justify-content-end">
                                                            <!-- <div class="col">
                                                                <a class="btn btn-sm btn-secondary" href="">Details</a>
                                                            </div> -->
                                                            <div class="col">
                                                                <a class="btn btn-sm read-more text-white" href="{% url 'application' item.id %}">Apply</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <div class="row g-3 p-3">
                                            <div class="col-12">
                                                <a class="text-decoration-none btn-lg btn-on-white" href="{% url 'contact' %}">Contact us for more informations</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-phd" role="tabpanel" aria-labelledby="nav-phd-tab">
                                        {% if phd_speciality %}
                                        <table class="table table-striped table-hover table-borderless table-responsive">
                                            <thead class="bage-bg">
                                                <tr>
                                                    <th scope="col">Programs</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in phd_speciality %}
                                                <tr>
                                                    <td>{{item.program_name}}</td>
                                                    <td>
                                                        <div class="row gy-lg-0 gy-2 row-cols-auto d-flex justify-content-end">
                                                            <!-- <div class="col">
                                                                <a class="btn btn-sm btn-secondary" href="">Details</a>
                                                            </div> -->
                                                            <div class="col">
                                                                <a class="btn btn-sm read-more text-white" href="{% url 'application' item.id %}">Apply</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <!--  -->
                                        {% else %}
                                        <div class="row g-3 p-3">
                                            <div class="col-12">
                                                <a class="text-decoration-none btn-lg btn-on-white" href="{% url 'contact' %}">Contact us for more informations</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="position-sticky mt-lg-0 mt-5" style="top: 10rem; ">
                    {% include 'page-sidebar.html' %}
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}