{% load static %}
<div class="service-details">
    <div class="row mb-30 g-3">
        <div class="col-lg-12">
            <div class="service-single-img">
                <img style="width: 100%; max-height: 320px;" src="{{single_country.country_image.url}}" alt="{{single_country.country_name}}">
            </div>
            {% if universities_count %}
            <div class="mt-20">
                <h6 class="university-count">Universities count <span class="university-count-span">{{universities_count}}</span></h6>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row g-3">
        {% if country_fact %}
        <div class="col-lg-12">
            <!-- Start University Fact -->
            {% include 'main/country-fact.html' %}
            <!-- End University Fact -->
        </div>
        {% endif %}
        <div class="col-lg-12">
            <div class="content-body">
                {{single_country.country_description|safe}}
            </div>
        </div>
    </div>
</div>