 {% load static %}
<style>
    .program-image {
        max-height: 350px;
        width: 100%;
    }
</style>
<div class="service-details">
    <div class="service-single-img">
        <img class="program-image" src="{{single_program.program_image.url}}" alt="{{single_program.program_name}}">
    </div>

    <!-- start program fact -->
    {% include 'main/single-program-fact.html' %}
    <!-- End program fact -->

    <div class="content-body">
        {{single_program.program_description|safe}}
    </div>
</div>