{% extends 'main/index.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block contain%}
<main>
    <div class="container-fluid p-4">
        <h3 class="mb-4 display-6">
            <span class="main-color">{{single_program.program_name}}</span>
        </h3>
        <div class="row g-5">
            <div class="col-lg-8 col-md-7 col-12">
                <div class="row g-5">
                    <div class="col-12">
                        <!-- start Page sidebar -->
                        {% include 'main/single-program-contain.html' %}
                        <!-- End Page sidebar -->
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a class="btn btn-on-white" href="{% url 'programs' %}">All programs</a>
                            <a class="btn btn-on-white" href=" {% url 'contact' %} ">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <!-- start Page sidebar -->
                <div class="position-sticky" style="top: 2rem;">
                    {% include 'main/page-sidebar.html' %}
                </div>
                <!-- End Page sidebar -->
            </div>
        </div>
    </div>
</main>
<hr> {% endblock %}