{% extends 'main/index.html' %} {% load static %} {% block contain%}
<section style="margin-top: -40px; padding-left: 50px; padding-right: 50px;" class="section service-single">
    <div class="container-fluid">
        <h3 class="program-name mb-20">Single Program name</h3>
        <div class="row g-5">
            <div class="col-lg-8 col-md-7 col-12">
                <div class="row g-5">
                    <div class="col-lg-12">
                        <!-- start Page sidebar -->
                        {% include 'main/single-program-contain.html' %}
                        <!-- End Page sidebar -->
                    </div>
                    <div class="col-lg-12">
                        <!-- start Related University -->
                        {% include 'main/single-program-related-university.html' %}
                        <!-- End Related University -->
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 col-md-5">
                <!-- start Page sidebar -->
                {% include 'main/page-sidebar.html' %}
                <!-- End Page sidebar -->
            </aside>
        </div>
    </div>
</section>
<!-- Start Partners Area -->
{% include 'main/latest-new.html' %}
<!-- End Partners Area -->


<!-- Start Newsletter Area -->
{% include 'main/newsletter.html' %}
<!-- /End Newsletter Area -->

{% endblock %}