{% extends 'main/index.html' %} {% load static %} {% block contain%}
<style>
    .category-title {
        color: #273c75;
        font-weight: 500;
        font-size: 20px;
    }
</style>
<section class="services section p-lg-4">
    <div class="container-fluid">
        <div class="program-category-title text-center">
            <h3 class="category-title">{{program_category.program_category_title}}</h3>
        </div>
        {% if program %}
        <div class="row">
            {% for item in program %}
            <div class="col-lg-3 col-md-6 col-12">
                <a href="{% url 'single-program' item.program_name %}">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            {% if item.program_icon %}
                            <span>{{item.program_icon.as_html}}</span>
                            <!--  -->
                            {% else %}
                            <span><i class="lni lni-graduation"></i></span>
                            <!--  -->
                            {% endif %}
                        </div>
                        <h3><a href="{% url 'single-program' item.program_name %}">{{item.program_name}}</a></h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
<!-- Start Partners Area -->
{% include 'main/latest-new.html' %}
<!-- End Partners Area -->


<!-- Start Newsletter Area -->
{% include 'main/newsletter.html' %}
<!-- /End Newsletter Area -->

{% endblock %}