{% load static %}
<div class="service-details">
    <div class="row mb-30 g-3">
        <div class="col-lg-12">
            <div class="service-single-img">
                <img style="width: 100%; max-height: 320px;" src="{{single_country.country_image.url}}" alt="{{single_country.country_name}}">
            </div>
            {% if universities_count %}
            <div class="mt-3">
                <h6 style="font-size: 22px; font-weight:600">Universities count <span style="height: 40px; width: 60px; border-radius: 100%" class="main-bg-color text-white py-2 px-2">{{universities_count}}</span></h6>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-12">
            <div class="content-body">
                {{single_country.country_description|safe}}
            </div>
        </div>
    </div>
</div>