{% load static %}
<!-- Toolbar Start -->
{% include 'main/toolbar.html' %}
<!-- Toolbar End -->

<!-- Navbar Start -->
{% include 'main/navbar.html' %}
<!-- Navbar End -->
<!-- container -->

<!-- <nav style="height: 80px; z-index: 106;" class="navbar navbar-expand-lg navbar-light bg-light d-lg-none .d-xl-block">
    <div class="container-md">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <a style="background-color: #273c75; color: rgb(255, 255, 255);" class="btn" data-bs-toggle="offcanvas" href="#offcanvasWithBothOptions" role="button" aria-controls="offcanvasWithBothOptions">
            <i style="font-weight: 900; font-size: 35px;" class="lni lni-list"></i>
        </a>

    </div>
</nav>
<div style="max-width: 80%;" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBothOptions" data-bs-scroll="true" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navigation</h5>
        <button style="background-color: #c8a64a; color: white; font-size: 20px; font-weight: 900;" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div style="width: 100%; padding: 10px 20px 10px 20px; color: white; background-color: #273c75;">
            <div class="row g-3">
                <div class="col-12">
                    <span style="color: rgb(184, 184, 184);">Do you have a question ?</span>
                </div>
                <div class="col-12">
                    <i class="lni lni-envelope"></i><a style="margin-left: 1px;" href="#">info@vecademy.com</a>
                </div>
                <div class="col-12">
                    <i class="lni lni-phone"></i><a style="margin-left: 1px;" href="#">(+237)650274877 /693420100</a>
                </div>
            </div>
        </div>
        <div>
            <ul id="nav" class="navbar-nav ms-auto mx-1">
                <li class="nav-item">
                    <a class="page-scroll mx-1" href="{% url 'index' %}">Home</a>
                </li>
                {% if category_to_navebar %} {% for item in category_to_navebar %}
                <li class="nav-item">
                    <a class="page-scroll mx-1" href="{% url 'single-category' item.program_category_title %}">{{item.program_category_title}}</a>
                </li>
                {% endfor %} {% endif %}
                <li class="nav-item">
                    <a class="page-scroll" href="{% url 'universitis' %}">Universities</a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll" href="{% url 'countries' %}">Countries</a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll" href="{% url 'post' %}">Post & Event</a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll" href="{% url 'contact' %}">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll" href="{% url 'about' %}">About us</a>
                </li>
            </ul>

        </div>
    </div>
</div> -->