{% load static %}
<header class="toolbar py-3">
    <div class="container-fluid">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-5 pt-1">
                <div class="row">
                    <div class="col-lg-6">
                        <i class="bi bi-telephone"></i>
                        <span>(+237)650274877/693420100</span>
                    </div>
                    <div class="col-lg-5">
                        <i class="bi bi-envelope"></i></i>
                        <span>info@vecademy.com</span>
                    </div>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <ul class="nav">
                    <li class="nav-items">
                        <a class="nav-link" href="{% url 'about' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>