{% load static %}
<div style="border: 1px solid #1332869c;" class="card p-2">
    <div class="row g0">
        <div class="col-auto">
            <div class="fast-fact">(University name) fast Fact dsdsdssssssssssssssssssssssss</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-lg-4">
                <div class="card border-none mb-3">
                    <div class="row g-5">
                        <div class="col-md-2">
                            <i class="fact-icon lni lni-map-marker"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="fact-title card-title">Fact Title</h5>
                                <p class="fact-content card-text">This is a wider card with supporting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-none mb-3">
                    <div class="row g-5">
                        <div class="col-md-2">
                            <i class="fact-icon lni lni-network"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="fact-title card-title">Card title</h5>
                                <p class="fact-content card-text">This is a wider card with supporting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-none mb-3">
                    <div class="row g-5">
                        <div class="col-md-2">
                            <i class="fact-icon lni lni-money-location"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="fact-title card-title">Card title</h5>
                                <p class="fact-content card-text">This is a wider card with supporting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-none mb-3">
                    <div class="row g-5">
                        <div class="col-md-2">
                            <i class="fact-icon lni lni-investment"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="fact-title card-title">Card title</h5>
                                <p class="fact-content card-text">This is a wider card with supporting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-none mb-3">
                    <div class="row g-5">
                        <div class="col-md-2">
                            <i class="fact-icon lni lni-laptop"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="fact-title card-title">Card title</h5>
                                <p class="fact-content card-text">This is a wider card with supporting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-none mb-3">
                    <div class="row g-5">
                        <div class="col-md-2">
                            <i class="fact-icon lni lni-medall"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="fact-title card-title">Card title</h5>
                                <p class="fact-content card-text">This is a wider card with supporting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>